@using Sisyphus.Core.Model
@model Sisyphus.Web.Models.WriterIndexViewModel

@{
    ViewBag.Title = "Writer Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Writer Dashboard</h2>
<p>
    Create and select a story prior to continuing
</p>

@if (!string.IsNullOrWhiteSpace(Model.SelectedStoryName))
{
    <h3>Selected Story</h3>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.SelectedStoryName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.SelectedStoryName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BackStory, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.BackStory, new { @class = "form-control" })
            </div>
        </div>
    </div>
}
else
{
    using (Html.BeginForm("SelectStory", "Writer", Model.SelectedStoryName, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3>Select Story</h3>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedStoryName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.SelectedStoryName, Model.StoryListItems)
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Select Story" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

<ul>
    <li>@Html.ActionLink("Story Editor", "StoryEditor")</li>
    <li>@Html.ActionLink("Time Editor", "TimeEditor")</li>
    <li>@Html.ActionLink("Places Editor", "PlacesEditor")</li>
    <li>@Html.ActionLink("Character Editor", "CharacterBrowser")</li>
    <li>@Html.ActionLink("Event Sequencer", "EventSequencer")</li>
    <li>@Html.ActionLink("Race Editor", "RaceEditor")</li>
    <li>@Html.ActionLink("Sex Editor", "SexEditor")</li>
</ul>
