@model Sisyphus.Core.Model.Character

<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.DisplayFor(m=>m.Name)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.BackStory)
    @Html.DisplayFor(m => m.BackStory)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Race)
    @Html.DisplayFor(m => m.Race)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Sex)
    @Html.DisplayFor(m => m.Sex)
</div>
<div class="form-group">
    
    </div>
